<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>TuneFlow</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>com.tuneflow</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1007722364128-3iohc7b1ea97abdddt858ju6ls19tjfa</string>
			</array>
		</dict>
		 <dict>
		<key>CFBundleURLSchemes</key>
		<array>
			<string>465431889852525</string>
		</array>
		</dict>
	</array>

	<key>FacebookAppID</key>
	<string>465431889852525</string>
	<key>FacebookClientToken</key>
	<string>2ad1ae76ef3e089b4fc03362bb6b2a0e</string>
	<key>FacebookDisplayName</key>
	<string>TuneFlow</string>

	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-1734824098733177~5686111649</string>
	<key>GIDClientID</key>
	<string>1007722364128-3iohc7b1ea97abdddt858ju6ls19tjfa.apps.googleusercontent.com</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera to enable you to take a new profile picture or playlist cover.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to show nearby rooms.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to allow you to select a profile picture and playlist cover.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app requires microphone access to allow users to participate in voice chat features.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app needs access to your location to provide location-based services and improve the user experience.</string>

	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
